h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.titre  { font-weight: bold; font-size: 48px; text-align: center; padding-top: 55px; }

p {
  margin: 0;
}

.container {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}

.items1 { display: flex; flex-direction: row; }

.items2 { display: flex; flex-direction: column; }

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}